.grid_categoryhome > div {
  border: 3px solid rgba(0, 0, 0, 0.04);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -ms-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.grid_categoryhome > div:hover {
  border: 3px solid #666;
}

/* Responsive */
@media screen and (min-width: 0) {
  .grid_categoryhome {
    flex-wrap: wrap;
  }
  .grid_categoryhome > div {
    margin-bottom: 16px;
  }
  .grid_categoryhome > div:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .boxcategory {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 600px) {
  .grid_categoryhome {
    flex-wrap: nowrap;
  }
  .grid_categoryhome > div {
    margin-bottom: 0;
  }
  .grid_categoryhome > div:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .boxcategory {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 900px) {
}
