/* .cardmain {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition:;
  -moz-transition:;
  -ms-transition:;
  -o-transition:;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.2);
}
.cardmain:hover {
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.2);
} */

/* Responsive */
/* @media screen and (min-width: 0) {
  .cardmain {
    max-width: 100%;
    width: 100%;
    min-height: fit-content;
    height: 100%;
  }
}
@media screen and (min-width: 600px) {
  .cardmain {
    max-width: 45%;
    width: 100%;
    min-height: fit-content;
    height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .cardmain {
    max-width: 33%;
    width: 100%;
    min-height: fit-content;
    height: 100%;
  }
} */
