#root {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: OpenSans, Mikhak !important;
  direction: rtl;
  text-align: right;
}
a {
  text-decoration: none;
  font-family: OpenSans, Mikhak;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
span {
  font-family: OpenSans, Mikhak !important;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
div.MuiMobileStepper-dotActive {
  background-color: black !important;
}
div.MuiCardHeader-avatar {
  margin-right: 0 !important;
}
div.MuiCardHeader-content span:nth-child(1) {
  font-weight: bold;
  color: #666;
  font-size: 16px;
}
div.MuiAvatarGroup-root > div.MuiAvatar-root:first-child {
  direction: ltr;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
span.css-1aquho2-MuiTabs-indicator {
  background-color: #dadada;
}

a.css-dpnjs6-MuiButtonBase-root-MuiTab-root {
  font-weight: bold;
  font-size: 0.9rem;
}
