body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: OpenSans, Mikhak !important;
}
a {
  text-decoration: none;
  font-family: OpenSans, Mikhak;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
span {
  font-family: OpenSans, Mikhak !important;
}
